{% extends 'base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Membres</h1>
    <table id="membresTable" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Sexe</th>
            </tr>
        </thead>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#membresTable').DataTable({
            ajax: '{{ path('membres_data') }}',
            columns: [
                { data: 0 },
                { data: 1 },
                { data: 2 },
                { data: 3 },
                { data: 4 },
                { data: 5 }
            ]
        });
    });
</script>
{% endblock %}
